html { font-size: 12px !important; }
/* 插件样式开始 */
#monitor {
  position: fixed;
  font-size: 12px;
  width: 250px;
  height: 440px;
  background: #dedede;
  bottom: 10px;
  padding: 10px;
  right: 10px;
  overflow: scroll;
}
#loginWrap,
#previewWrap {
  display: none;
}
#monitor .login-wrap .form-wrap { 
  padding: 10px;
}
#work-add{width: 216px;position: relative;}
#work-add textarea {width: 216px;height:50px;box-sizing:border-box;}
#work-add .btn-workAdd {position: absolute;bottom: 8px;right: 2px;}
.disNone {display: none;}
#btn-wrapper,
#btn-wrapper .btn-login {
  width: 100%;
}
#btn-wrapper .btn {
  border-radius: 4px;
}
#btn-wrapper .btn-submit-tort,
#btn-wrapper .btn-submit-normal {
  width: 30%;
  margin-right: 10px;
}
#btn-wrapper .btn-logout {
  position: fixed;
  bottom: 40px;
  right: 40px;
}
#btn-wrapper .btn-selectClear {
  position: fixed;
  bottom: 40px;
  right: 100px;
}
.preview .line {
  font-size: 12px;
}
.preview .line i {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
}
.preview .line span {
  display: inline-block;
  word-break: break-word;
}
#alertWrap {
  position: fixed;
  top: 80px;
  left: 100px;
  width: calc(100vw - 200px);
  z-index: 10000;
}
.dropdown-menu.open {
  height: 200px !important;
  overflow-y: scroll !important;
}
.dropdown-menu li a {
  width: 220px;
  /* overflow: hidden; */
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 插件样式结束 */
/* 搜索页面样式开始 */
.video-info-content a.to-h5 {
  align-items: flex-end;
  padding: 2px;
  color: #fff !important;
  background: #337ab7;
}
.video-info-content .to-verify {
  background: #337ab7;
  color: #fff;
  padding: 2px;
  margin-left: 10px;
}
.video-info-content .to-verify.verifyed {
  background: #f0ad4e;
}
/* 搜索页面样式结束 */
/* 个人中心页面样式开始 */
.user-photo-list .video-card-main .img-check {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}
.user-photo-list .video-info-content .to-verify {
  margin-left: 10px;
}
.collect-wrap {
  position: fixed;
  left: 40px;
  bottom: 40px;
  z-index: 10000;
}
/* 个人中心页面样式结束 */
