html {
  font-size: 12px !important;
}
#monitor {
  position: fixed;
  width: 250px;
  height: 440px;
  background: #dedede;
  bottom: 10px;
  padding: 10px;
  right: 10px;
  overflow: hidden;
}
#monitor .login-wrap .form-wrap {
  padding: 10px;
}
#btn-wrapper,
#btn-wrapper .btn {
  width: 100%;
}
.preview .line {
  font-size: 12px;
}
.preview .line i {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
}
.preview .line span {
  display: inline-block;
  word-break: break-word;
}